@* show Template File *@
@(post: Post)
@layout(post.title){
	<h2>@post.title</h2>
<p>@post.body</p>
<p>created :  @{post.created_at.toGMTString()}</p>
<p>by : @post.id_startup</p>

<a class="btn btn-primary" href="@routes.PostsController.edit(post.id)">Edit</a>


<button class="btn btn-danger" onclick="sendDeleteRequest('@routes.PostsController.destroy(post.id)','@routes.HomeController.index()')">Delete</button>
}

